.statsCard {
    width: 100%;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #333;
}

.page-container h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.page-container p {
    font-size: 1.25rem;
}